aiohttp>=3.9
aiodns>=3.1
aiofiles>=23.2
beautifulsoup4>=4.12
lxml>=5.2
selenium>=4.21      # 대학 메뉴 초기분석용
aiohttp_retry>=2.8
SQLAlchemy>=2.0
alembic>=1.13
pandas>=2.2         # CSV/Parquet
apscheduler>=3.10
python-dotenv>=1.0  # (옵션) 환경변수
